{% extends "index.html" %}

{% block title %}ПапаБлог - Добавить запись{% endblock title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}

{% block sidebar %}{% endblock sidebar %}

{% block content %}
<div class="col-sm-6">
    <p>Редактор</p>
    <form method="POST" id="post-form" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" class="btn btn-default" value="Добавить" />
    </form>
</div>
<div class="col-sm-6">
    <p>Превью</p>
    <h3 id="preview-title"></h3>
    <img id="preview-image" src="" />
    <p id="preview-preview"></p>
    <p id="preview-full"></p>
</div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".col-md-9").each(function () {
               $(this).addClass("col-md-12");
               $(this).removeClass("col-md-9");
            });
        });

{#        var titleItem = $("#id_title");#}
{#        $("#preview-title").html(marked(titleItem.val()));#}

        var imageItem = $("label[for='id_image']").next().attr('href');
        $("#preview-image").attr('src', imageItem);

        var titleInput = $("#id_title");
        var previewInput = $("#id_previewText");
        var contentInput = $("#id_fullText");


        function setContent(value) {
            var markedContent = marked(value);
            $("#preview-full").html(markedContent);
        }
        setContent(contentInput.val());
        contentInput.keyup(function () {
            var newContent = $(this).val();
            setContent(newContent);
        });


        function setPreview(value) {
            var markedContent = marked(value);
            $("#preview-preview").html(markedContent);
        }
        setPreview(previewInput.val());
        previewInput.keyup(function () {
            var newContent = $(this).val();
            setPreview(newContent);
        });


        function setTitle(value) {
            var markedContent = marked(value);
            $("#preview-title").html(markedContent);
        }
        setTitle(titleInput.val());
        titleInput.keyup(function () {
            var newContent = $(this).val();
            setTitle(newContent);
        })
    </script>
{% endblock script %}