{% extends "index.html" %}
{% load static %}

{% block description %}{{ object.previewText }}{% endblock description %}
{% block title %}ПапаБлог - {{ object.title }}{% endblock title %}

<div class="row">
{% block content %}

<div class="col-md-12 w-100">
    <div class="single-post">

    <!-- ___Start Article & Feature___ -->
        <div class="article-and-feature post-bottom-content bg-box-shadow each-section" data-scroll-index="0">
            <h3>{{ object.title }} <span class="mobile-bg">9<a class="mobile-bg" href="#comments">9 комментариев</a></span></h3>
            <div class="meta-info">
                <p class="date"><i class="icon-clock"></i><a href="#">{{ object.publish }}</a></p>
                <p class="category"><i class="icon-bookmark"></i>  <a href="#">{{ object.category }}</a> </p>
                <p class="author"><i class="icon-user"></i> by <a href="/user/{{ object.user }}">{{ object.user }}</a></p>
                {% if object.draft %}
                    <p class="author"><i class="fa fa-user"></i><span style="color: red">Черновик</span></p>
                {% endif %}
            </div>

            {% if object.image %}
                <img src="{{ object.image.url }}" alt="{{ object.title }}" class="img-responsive" />
            {% endif %}

            <div class="article-content">
                <div class="content-markdown">{{ object.fullText }}</div>
            </div>

            <!-- ___Start Post Meta___ -->
            <div class="post-meta">
                <div class="share-icon">
                    <i class="icon-share"></i>
                    <span>25 Share</span>
                </div>

                <div class="tags text-right">
                    <ul class="tag-mobile">
                        <li>Тэги: </li>
                        {% for tag in object.tags.all %}
                            <li><a href="{% url "posts:tagged" tag.slug %}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div><!-- End Tags -->
            </div><!-- End Meta Post -->
        </div><!-- End Article & Feature -->

</div>




<!-- Информация об авторе -->
    <div data-scroll-index="3" class="each-section single-post-author common-border">
        <div class="row">
            <div class="col-lg-2 post-author-left">
                <img src="{{ object.user.profile.avatar.url }}" alt="">
            </div>
            <div class="col-lg-10 post-author-right">
                <h4>{{ object.user.get_full_name }}</h4>
                <p class="author-bio">{{ object.user.profile.bio }}</p>
                <a href="/user/{{ object.user }}" class="view-my-articles"><i class="fa fa-heart"></i>Все статьи автора</a>
            </div>
        </div><!-- End Row -->
    </div>


<!-- Добавить Комментарий -->
    <div data-scroll-index="5" class="each-section leave-a-comment">
    <h3>Комментировать</h3><a name="comments"></a>
    <div class="comment-form common-border">
        <div class="row">
            <form>
                <!-- ___Send Name Email Website___ -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                </div>

                <!-- ___Send Message___ -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="message">Сообщение</label>
                        <textarea name="message" id="message" rows="7" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="button" type="submit">Отправить</button>
                    </div>
                </div>
            </form><!-- End Form -->
        </div><!-- End Row -->
    </div><!-- End Contact Form -->
    </div></div>
{% endblock content %}
</div>