{% extends "index.html" %}
{% load static %}

{% block content %}

<div class="row">
    {% for obj in object_list %}
        <div class="col-md-12">
            <div class="article-and-feature post-bottom-content one-full-post">
                <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <span class="mobile-bg">9<a class="mobile-bg" href="#">9 комментов</a></span></h3>
                <div class="meta-info">
                    <p class="date"><i class="icon-clock"></i>{{ obj.publish|date:"F d, Y" }}</p>
                    <p class="category"><i class="icon-bookmark"></i>  <a href="#">{{ obj.category }}</a> </p>
                    <p class="author"><i class="icon-user"></i> <a href="#">by {{ obj.user }}</a></p>
                </div>
                {% if obj.image %}
                    <a href="{{ obj.get_absolute_url }}"><img src="{{ obj.image.url }}" alt="{{ obj.title }}" class="img-responsive"></a>
                {% endif %}
                <div class="single-post-content">
                    <div class="content-markdown">{{ obj.previewText }}</div>
                <a class="mobile-color" href="{{ obj.get_absolute_url }}"> Читать дальше <i class="fa fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include "snippets/pagination.html" %}
</div>

{% endblock content %}