{% extends "index.html" %}
{% load static %}

{% block title %}Досуг - БатяБлог - всё о детях для мужчин{% endblock title %}

{% block content %}
    <div class="row">
        {% for obj in postsList %}
            <div class="col-sm-12 news-list">
                <div class="thumbnail">
                    {% if obj.image %}
                        <img src="{{ obj.image.url }}" alt="{{ obj.title }}" class="img-responsive">
                    {% endif %}
                    <div class="caption">
                        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h3>
                        <p>{{ obj.previewText|linebreaks|truncatechars:120 }}</p>
                        <p><small>{{ obj.user }}, {{ obj.publish }}, {{ obj.category }}</small></p>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% include "snippets/pagination.html" %}
    </div>
{% endblock content %}