{% extends "index.html" %}
{% load static %}

{% block title %}Досуг - БатяБлог - всё о детях для мужчин{% endblock title %}

{% block content %}
    <div class="row">
        {% for obj in postsList %}
            <div class="col-md-12">
                <div class="article-and-feature post-bottom-content one-full-post">
                    <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <span class="mobile-bg">9<a class="mobile-bg" href="#0">9 комментов</a></span></h3>
                    <div class="meta-info">
                        <p class="date"><i class="fa fa-clock-o"></i>{{ obj.publish|date:"F d, Y" }}</p>
                        <p class="category"><i class="fa fa-bookmark"></i>  <a href="#0">{{ obj.category }}</a> </p>
                        <p class="author"><i class="fa fa-user"></i> <a href="#0">by {{ obj.user }}</a></p>
                    </div>
                    <a href="{{ obj.get_absolute_url }}"><img src="{{ obj.image.url }}" alt="{{ obj.title }}" class="img-responsive"></a>
                    <div class="single-post-content">
                        <p>{{ obj.previewText|linebreaks }}</p>
                    <a class="mobile-color" href="{{ obj.get_absolute_url }}"> Читать дальше <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% include "snippets/pagination.html" %}
    </div>
{% endblock content %}