<div class="pagination">
    <span class="step-links">
        {% if postsList.has_previous %}
            <a href="?{{ page_request_var }}={{ postsList.previous_page_number }}">Назад</a>
        {% endif %}

        <span class="current">
            Страница {{ postsList.number }} из {{ postsList.paginator.num_pages }}
        </span>

        {% if postsList.has_next %}
            <a href="?{{ page_request_var }}={{ postsList.next_page_number }}">Вперёд</a>
        {% endif %}
    </span>
</div>