{% load static %}
<script src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'scripts/scripts.js' %}"></script>				<!-- ===This Script for Custom Script=== -->
{#<script src="js/owl.carousel.min.js"></script>			<!-- ===This Script for Owl Carousel=== -->#}
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/wow.min.js' %}"></script>				<!-- ===This Script for Wow JS=== -->
<script src="{% static "scripts/jquery.meanmenu.min.js" %}"></script>		<!-- ===This Script for Main Menu=== -->
<script src="{% static "scripts/jquery.jscroll.js" %}"></script>
{#<script>#}
{#    jQuery(document).ready(function($) {#}
{#        jQuery('.category-nav ').meanmenu();#}
{#        $(".owl-demo").owlCarousel({#}
{#            navigation : false, // Show next and prev buttons#}
{#            slideSpeed : 300,#}
{#            paginationSpeed : 400,#}
{#            singleItem:true#}
{##}
{#            // "singleItem:true" is a shortcut for:#}
{#            // items : 1,#}
{#            // itemsDesktop : false,#}
{#            // itemsDesktopSmall : false,#}
{#            // itemsTablet: false,#}
{#            // itemsMobile : false#}
{#        });#}
{#    });#}
{#</script>#}