{% load static %}
<script src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'scripts/scripts.js' %}"></script>				<!-- ===This Script for Custom Script=== -->
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/wow.min.js' %}"></script>				<!-- ===This Script for Wow JS=== -->
<script src="{% static "scripts/jquery.meanmenu.min.js" %}"></script>		<!-- ===This Script for Main Menu=== -->
<script src="{% static "scripts/jquery.jscroll.js" %}"></script>