{% load static %}

<div id="sidebars">

    <h2 class="heading-blue">Профиль</h2>
    <img src="img/wayne.jpg" alt="" />
    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
    <p>Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
    <p><a href="#">More headlines &raquo;</a></p>

    <!-- BEGIN ADS -->
    <div class="row sidebar-ads">
        <div class="col-md-6">
            <a href="#"><img src="{% static 'images/ad.png' %}" alt="" class="img-responsive" /></a>
        </div>
        <div class="col-md-6">
            <a href="#"><img src="{% static 'images/ad.png' %}" alt="" class="img-responsive" /></a>
        </div>
    </div>
    <div class="row sidebar-ads">
        <div class="col-md-6">
            <a href="#"><img src="{% static 'images/ad.png' %}" alt="" class="img-responsive" /></a>
        </div>
        <div class="col-md-6">
            <a href="#"><img src="{% static 'images/ad.png' %}" alt="" class="img-responsive" /></a>
        </div>
    </div>
    <!-- END ADS -->

    <h2 class="heading">Celebrity Sightings</h2>
    <img src="img/casey.jpg" alt="" class="ad" /> <img src="img/hobo.jpg" alt="" class="ad-right" />
    <h2 class="heading">In the Community</h2>
    <h4><a href="#">Lorem ipsum dolor sit amet eget, consectetur adipiscing elit</a></h4>
    <h4><a href="#">Lorem ipsum dolor sit amet eget, consectetur adipiscing elit</a></h4>
</div>