{% load static %}


<div id="menu-area" class="menu-area toogle-sidebar-sections">
    <div class="menu-head">
        <a href="#0" class="accordion-toggle">Меню <span class="toggle-icon"><i class="icon-menu"></i></span></a>
        <div class="accordion-content">
            <div class="menu-body">
                <ul>
                    <li class="home"><a href="/">Главная</a></li>
                    <li><a href="#">Мероприятия</a></li>
                    <li class="sm-post"><a href="#">Магазин</a></li>
                    <li class="sm-post"><a href="#">Блоги</a></li>
                </ul>
            </div><!-- End Menu Body -->
        </div><!-- End According Content -->
    </div><!-- End Menu Head -->
</div>

<div class="top-rated-area toogle-sidebar-sections">
    <div class="top-rated-head">
        <a href="#0" class="accordion-toggle">Статистика <span class="toggle-icon"><i class="icon-menu"></i></span></a>
        <div class="accordion-content">

            <!-- ___Start Top Rated Body___ -->
            <div class="top-rated-body">

                <a href="#0" class="top-rated-item javascript">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                        </div>
                    </div>
                    <div class="top-rated-heading">Записей</div>

                    <div class="top-rated-count">
                        <div class="progress-score">
                            <i class="fa fa-eye"></i>
                            <span>2564</span>
                        </div>
                    </div>
                </a>
                <!-- End Java Script -->

                <a href="#0" class="top-rated-item iphone">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;">
                        <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <div class="top-rated-heading">Комментариев</div>

                    <div class="top-rated-count">
                        <div class="progress-score">
                            <i class="fa fa-eye"></i>
                            <span>2564</span>
                        </div>
                    </div>
                </a>
                <!-- End Iphone -->

                <a href="#0" class="top-rated-item top-hills">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width: 43%;">
                        <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <div class="top-rated-heading">Тем на форуме</div>

                    <div class="top-rated-count">
                        <div class="progress-score">
                            <i class="fa fa-eye"></i>
                            <span>2564</span>
                        </div>
                    </div>
                </a>
                <!-- End Top Hills -->

                <!-- End Wordpress -->

                <a href="#0" class="top-rated-item ebola-virus">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 22%;">
                        <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                    <div class="top-rated-heading">Пользователей</div>

                    <div class="top-rated-count">
                        <div class="progress-score">
                            <i class="fa fa-eye"></i>
                            <span>2564</span>
                        </div>
                    </div>
                </a><!-- End Ebola Virus -->

            </div><!-- End Top Rated Body -->
        </div><!-- End Accordion Content -->
    </div><!-- End Top Rated Head -->
</div>

{#<div class="follow-area toogle-sidebar-sections">#}
{#    <div class="follow-head">#}
{#        <a href="#0" class="accordion-toggle">Соцсети <span class="toggle-icon"><i class="icon-menu"></i></span></a>#}
{#        <div class="accordion-content">#}
{#            <div class="follow-body">#}
{#                <ul class="ul-clearfix">#}
{#                    <li>#}
{#                        <a href="#0" class="connect-with-us facebook">#}
{#                            <i class="icon-facebook"></i>#}
{#                            <span>11,222 Follow</span>#}
{#                            <div class="plus">#}
{#                                <i class="icon-plus"></i>#}
{#                            </div>#}
{#                        </a><!-- End Facebook -->#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0" class="connect-with-us twitter">#}
{#                            <i class="icon-twitter"></i>#}
{#                            <span>9865 Follow</span>#}
{#                            <div class="plus">#}
{#                                <i class="icon-plus"></i>#}
{#                            </div>#}
{#                        </a><!-- End Twitter -->#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0" class="connect-with-us google-plus">#}
{#                            <i class="icon-gplus"></i>#}
{#                            <span>2864 Follow</span>#}
{#                            <div class="plus">#}
{#                                <i class="icon-plus"></i>#}
{#                            </div>#}
{#                        </a><!-- End Google Plus -->#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0" class="connect-with-us linkedin">#}
{#                            <i class="icon-linkedin"></i>#}
{#                            <span>11,222 Follow</span>#}
{#                            <div class="plus">#}
{#                                <i class="icon-plus"></i>#}
{#                            </div>#}
{#                        </a><!-- End Linkedin -->#}
{#                    </li>#}
{#                </ul>#}
{#            </div><!-- End follow-body -->#}
{#        </div><!-- End Accordion Content -->#}
{#    </div><!-- End Follow Head -->#}
{#</div>#}


{#<p>#}
{#{% for tag in all_tags %}#}
{#    <a href="{% url "posts:tagged" tag.slug %}">{{ tag.name }}</a>,#}
{#{% endfor %}#}
{#</p>#}