{% load static %}
<div class="container">
    <div class="row">
        <!-- BEGIN HEADER -->
        <div id="row">
          <div class="logo img-responsive col-md-3 col-md-offset-1"> <a href="#"><img src="{% static 'images/logo.png' %}" alt="" /></a> </div>
          <div class="ad img-responsive col-md-4">
            <p>Баннер</p>
          </div>
          <div class="ad img-responsive col-md-3">
            <p>Профиль</p>
          </div>
        </div>
        <!-- END HEADER -->
    </div>
</div>