<div class="top-bar">
    <div class="top-bar-head">
        <div class="search">
            <i class="icon-search showSingle" id="1"></i>
            <p>Поиск</p>
        </div>
        <div class="login-user pull-right showSingle" id="2">
            <i class="icon-user-circle-o"></i>
        </div>

        <div class="login-mail pull-right showSingle" id="3">
            <i class="icon-mail"></i>
        </div>
    </div>
    <!-- End Top Bar Head -->

    <!-- ___Start Top Bar Body___ -->
    <div class="top-bar-body">
        <div class="search-body targetDiv" id="div1">
            <p>Поиск</p>
            <form>
                <input type="text" class="form-control no-radius" placeholder="Поиск |">
            </form>
        </div>

        <!-- ___Start Top Bar Login Body___ -->
        <div class="user-body targetDiv" id="div2">
            <div class="row">
                <div class="col-md-6">
                    <div class="login-account">
                        <p>Войти</p>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control no-radius" placeholder="Имя пользователя">
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control no-radius" placeholder="Пароль">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">OK</button>
                                </span>
                            </div><!-- Input Group -->
                            <div class="forgot-pass">Забыли <a href="#0">пароль?</a></div>
                        </form>
                    </div><!-- End Login Account -->
                </div><!-- End Column -->

                <div class="dashed-divider"></div>
                <div class="col-md-6">
                    <div class="register">
                        <p>Новый пользователь?</p>
                        <button type="submit" class="btn btn-default form-control no-radius">Зарегистрировать</button>
                    </div>
                </div><!-- End Column -->
            </div><!-- End Row -->
        </div>
        <!-- End Top Bar Login Body -->
    </div><!-- End Top Bar Body -->
</div>