{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="{% block description %}{% endblock description %}" />
    <title>{% block title %}БатяБлог - всё о детях для мужчин{% endblock title %}</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
</head>
<body>

{% include "snippets/headmenu.html" %}
{% include "snippets/slideshow.html" %}
{% include "snippets/mainmenu.html" %}


    <div class="main-container container">
        {% include "snippets/messages.html" %}
        <div class="row">
            <div class="col-sm-7 col-sm-offset-1 blog-main">
                {% block content %}{% endblock content %}
            </div>
            <!-- sidebar -->
            <div class="col-sm-3">
                {% include "snippets/sidebar.html" %}
            </div>
        </div>
    </div>

<!-- footer -->
{% include "snippets/footer.html" %}

<!-- copyright -->
{% include "snippets/copyright.html" %}

<script src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
</body>
</html>